<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>landlord test page</title>
</head>
<body>
{% if current_user.is_authenticated %}
    logged in as {{current_user.username}}
{% else %}
    not logged in
{% endif %}


<h1>Upload new lease</h1>
{%   if errors != None  %}
  {{errors}}
{%  else %}
  File types allowed:{% for e in types %}
  {{ e }}
{% endfor %}
{%   endif   %}

<form method="post" enctype="multipart/form-data">

{{upform.hidden_tag()}}
{{upform.lease(size=20)}}
{{upform.submit(size=20)}}
  </form>
<form method="post" enctype="multipart/form-data" target="_blank">
    {{display.hidden_tag()}}
  {{display.submit2(size=20)}}
</form>
</body>
</html>