<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv= "x-ua-compatible" content = "width=device-width,
    intial-scale=1.02">
    <title>Rental Buddy</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header>
        <h2 class="Rental Buddy">Rental Buddy<h2>
            <nav class="navigation">
                <a href="{{url_for('index')}}">Home</a>
                <button class="btnLogin-popup">Login</button>
              </nav>
            </header>

            <div class="wrapper">
                <span class="icon-close">
                    <ion-icon name="close"></ion-icon>
                </span>
        
                <div class="form-box login">
                    <h2>Login</h2>
                    <form method="post">
            {{login_form.hidden_tag()}}
                        <div class="input-box">
                            {{login_form.username(size=20)}}
                            {{login_form.username.label}}
                        </div>
                        <div class="input-box">
                            <span class="icon">
                                <ion-icon name="mail"></ion-icon>
                            </span>
                            {{login_form.email(size=20)}}
                            {{login_form.email.label}}
                        </div>
                        <div class="input-box">
                            <span class="icon">
                                <ion-icon name="lock-closed"></ion-icon>
                            </span>
                            {{login_form.password(size=50)}}
                            {{login_form.password.label}}
                        </div>
                        <div class="remember-forgot">
                            {{login_form.remember.label}}{{login_form.remember(size=1)}}
                            <a href="#" class="register-link">Forgot Password?</a>
                        </div>
                        {{login_form.submit(class="btn")}}
                        <div class="login-register">
                            <p>Don't have an account? <a href="#" class="register-link">Register</a></p>
                        </div>
                    </form>
                </div>
        
                <div class="form-box register">
                    <h2>Registration</h2>
                    <form method="post">
                                    {{register_form.hidden_tag()}}

                        <div class="input-box">
                            <span class="icon">
                                <ion-icon name="person"></ion-icon>
                            </span>
                                {{register_form.username(size=20)}}
                                {{register_form.username.label}}
                        </div>
                        <div class="input-box">
                            <span class="icon">
                                <ion-icon name="mail"></ion-icon>
                            </span>
                            {{register_form.email(size=20)}}
                            {{register_form.email.label}}
                        </div>
                        <div class="input-box">
                            <span class="icon">
                                <ion-icon name="lock-closed"></ion-icon>
                            </span>
                            {{register_form.password(size=20)}}
                            {{register_form.password.label}}
                        </div>
                        <div class="input-box">
                            <span class="icon">
                                <ion-icon name="lock-closed"></ion-icon>
                            </span>
                            {{register_form.confirm_password(size=20)}}
                            {{register_form.confirm_password.label}}
                        </div>
                        <div class="remember-forgot">
                            <label><input type="checkbox"> I agree to the terms & conditions</label>
                        </div>
                        <div>{{register_form.tenant.label}}{{register_form.tenant(size=20)}}
                             {{register_form.landlord.label}}{{register_form.landlord(size=20)}}<br></div>
                        {{register_form.submit(class="btn")}}
                        <div class="login-register">
                            <p>Already have an account? <a href="#" class="login-link">Login</a></p>
                        </div>
                          {% if messages %}
                          <ul>
                          {% for message in messages %}
                            {{ message }}
                          {% endfor %}
                          </ul>
                         {% endif %}
                    </form>
                </div>
            </div>
        
        
            <script src="script.js"></script>
            <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        </body>
        
        </html>