<html>
  <head>
    <title>

    </title>
  </head>
  <body>
    <form method="post">
      <fieldset>
           <legend>
             <h1 class="form"> Login</h1>
            {{form.hidden_tag()}}
      </legend>
          <div>
              {%   if errors != None  %}
                {{errors}}
              {%   endif   %}
          </div>
      <div>{{form.username.label}}
                  {{form.username(size=20)}}
      </div>
        <br>

        <div>{{form.password.label}}
        {{form.password(size=20)}}</div>
        <br>
          <div>
      {{form.email.label}}
                  {{form.email(size=20)}}
      </div>
<br>
        <div>{{form.security_number.label}}
            {{form.security_number(size=20)}}
        <div>
            <br>
            {{form.remember.label}}
            {{form.remember(size=20)}}
        </div>


        </div><br>
      <div> {{form.submit(size=20)}}
      </div>
          {% with messages = get_flashed_messages() %}
 {% if messages %}
  <ul>
  {% for message in messages %}
    {{ message }}
  {% endfor %}
  </ul>
 {% endif %}
{% endwith %}
      </fieldset>

    </form>

  </body>
</html>