
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form method="post">{{form.hidden_tag()}}
    <fieldset>
        <div>{{form.password.label}}
        {{form.password(size=20)}}</div><br>
        <div>{{form.category.label}}
        {{form.category(size=20,style='height: 6%;')}}</div><br>
        <div>{{form.first_name.label}}
        {{form.first_name(size=20)}}</div><br>
        <div>{{form.last_name.label}}
        {{form.last_name(size=20)}}</div><br>
        <div>{{form.email.label}}
        {{form.email(size=20)}}</div><br>
        <div>{{form.phone_number.label}}
        {{form.phone_number(size=20)}}</div><br>
        <div>{{form.address.label}}
        {{form.address(size=20)}}</div><br>
        <div>{{form.gender.label}}
        {{form.gender(size=20)}}</div><br>
        <div>{{form.date_of_birth.label}}
        {{form.date_of_birth(size=20)}}</div><br>
        <div>{{form.course_IELTS.label}}
        {{form.course_IELTS(size=20)}}</div><br>
        <div>{{form.course_B1.label}}
        {{form.course_B1(size=20)}}</div><br>
        <div>{{form.course_Grammar.label}}
        {{form.course_Grammar(size=20)}}</div><br>
        <div>{{form.submit(size=20)}}</div><br>

</fieldset></form>
</body>
</html>