<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

 

    <link rel="stylesheet" href="css/landlord/FAQS.css" />
    <link rel="stylesheet" href="css/landlord/landlord.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
    />
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

  </head>
{% include "header.html" %}
<h2>FAQs (Frequently Asked Questions)</h2>
<section id="faqs">
  <div class="questions">
    <dl>
      <dt>What is Rental buddy?
      </dt>
      <dd>Rental Buddy is an online platform designed to simplify the process of creating, negotiating, and managing residential lease agreements. Whether you’re a landlord or a tenant, we’re here to make renting hassle-free.

      <dt>How does Rental buddy work?</dt>
      <dd>Rental Buddy allows property owners to create interactive lease agreements with tenants. Our user-friendly interface guides you through the process, ensuring clarity and compliance with legal requirements.</dd>

      <dt>Can I customise my lease agreements?</dt>
      <dd>Absolutely! You can personalize lease terms, add clauses, and make adjustments based on your specific needs. Rental Buddy’s flexibility ensures that your agreements reflect your unique situation</dd>

      <dt> How do I get started?
      </dt>
      <dd>Simply sign up, create an account, and start building your lease agreements. </dd>

      <dt> What payment methods are supported for Rental buddy?</dt>
      <dd>Rental Buddy doesn’t handle payments directly. However, you can integrate third-party payment gateways for rent collection.</dd>

      <dt>Is Rental buddy available outside the UK?</dt>
      <dd>Currently, Rental Buddy is designed for the UK rental market. However, we’re exploring expansion to other regions in the future..</dd>

      <dt>How do I invite my tennats to use Rental buddy?</dt>
      <dd>Once you’ve created an agreement, share the link with your tenants. They can review and sign it online, making the process efficient.
</dd>
    </dl>
  </div>
</section>

<!-- custom js file link  -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/landlord/faqs.js"></script>




   
 </body>
 </html>

